---
import Button from '../ui/Button.astro';
---

<header>
  <div class="progressive-blur">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="max-width">
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="#1c2b3a" viewBox="0 0 512 512">
      <path
        d="M452.11 161.621C440.263 137.356 415.565 122 388.542 122a21.766 21.766 0 0 0-15.38 6.364L271.88 229.553c-8.493 8.484-22.268 8.484-30.76 0L139.838 128.364a21.759 21.759 0 0 0-15.38-6.364c-27.023 0-51.721 15.356-63.568 39.621C46.87 190.342 39 222.618 39 256.724c0 29.915 6.051 58.419 17.004 84.355C68.59 370.892 98.15 390 130.534 390h17.216c12.011 0 21.75-9.73 21.75-21.73v-44.42c0-7.746 9.372-11.623 14.853-6.147l56.767 56.714c8.492 8.485 22.267 8.485 30.76 0l56.767-56.714c5.481-5.476 14.853-1.599 14.853 6.147v44.42c0 12 9.739 21.73 21.75 21.73h17.216c32.384 0 61.944-19.108 74.53-48.921C467.949 315.143 474 286.639 474 256.724c0-34.106-7.869-66.382-21.89-95.103Z">
      </path>
      <path
        d="M241.12 168.101c8.493 8.484 22.268 8.484 30.76 0l31.291-31.262c5.481-5.476 1.6-14.839-6.153-14.839h-81.036c-7.752 0-11.634 9.363-6.153 14.839l31.291 31.262Z">
      </path>
    </svg>
    <Button href="/contact" theme="primary">Let's talk</Button>
  </div>
</header>

<style lang="scss">
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    .max-width {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
    }
    nav {
      ul {
        display: flex;
        gap: 2rem;
      }
    }
    :global(.cta) {
      width: fit-content;
      margin-left: auto;
    }

    .progressive-blur {
      position: absolute;
      inset: 0;
      bottom: -50%;
      pointer-events: none;
      z-index: -1;
      div,
      &::after {
        position: absolute;
        inset: 0;
        transform: translateZ(0);
      }
      div {
        &:nth-of-type(1) {
          z-index: 1;
          backdrop-filter: blur(2px);
          mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 62.5%
          );
        }
        &:nth-of-type(2) {
          z-index: 2;
          backdrop-filter: blur(4px);
          mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 0) 75%
          );
        }
        &:nth-of-type(3) {
          z-index: 3;
          backdrop-filter: blur(8px);
          mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 0) 87.5%
          );
        }
        &:nth-of-type(4) {
          z-index: 4;
          backdrop-filter: blur(16px);
          mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 0) 100%
          );
        }
        &:nth-of-type(5) {
          z-index: 5;
          backdrop-filter: blur(32px);
          mask: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 87.5%, rgba(0, 0, 0, 1) 100%);
        }
      }
      &::after {
        content: '';
        z-index: 6;
        backdrop-filter: blur(64px);
        mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
      }
    }
  }
</style>
